<form action="/warden/:id/calculateMonthlySalary" method="POST">
    <div class="row">
      <div class="col">
        <h2 style="    text-align: center;">
          Enter the Month Number for which salary is to be calculated
        </h2>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="month"
            placeholder="Month"
          />
        </div>

        

        <div class="form-group">
          <button
            type="submit"
            class="btn btn-lg btn-rounded btn-primary btn-block "
          >
           Submit
          </button>
        </div>
      </div>
    </div>
  </form>