<% include ./partial/header %>
<% include ./partial/wardenfunction%>


<div class="col-sm-6" style="flex: 0 0 50%; max-width: 50%; margin-left: 431px;
margin-top: -251px; text-align: -webkit-center;">
  <form action="/editTimeTable" method="post" name="formTimeTable">
    <table>
      <tr>
        <td></td>
        <td>Shift 1 (6 am to 2 pm)</td>
        <td>Shift 2 (2 pm to 10 pm)</td>
        <td>Shift 3 (10 pm to 6 am)</td>
      </tr>
      <tr>
        <td>Place 1</td>
        <td><input type="text" id="shift1_1" name="shift1_1"  value="Name" readonly /></td>
        <td><input type="text" id="shift2_1" name="shift2_1" value="Name" readonly /></td>
        <td><input type="text" id="shift3_1" name="shift3_1" value="Name" readonly /></td>
      </tr>
      <tr>
        <td>Place 2</td>
        <td><input type="text" id="shift1_2" name="shift1_2" value="Name" readonly /></td>
        <td><input type="text" id="shift2_2" name="shift2_2" value="Name" readonly /></td>
        <td><input type="text" id="shift3_2" name="shift3_2" value="Name" readonly /></td>
      </tr>
      <tr>
        <td>Place 3</td>
        <td><input type="text" id="shift1_3" name="shift1_3" value="Name" readonly /></td>
        <td><input type="text" id="shift2_3" name="shift2_3" value="Name" readonly /></td>
        <td><input type="text" id="shift3_3" name="shift3_3" value="Name" readonly /></td>
      </tr>
      <tr>
        <td>Place 4</td>
        <td><input type="text" id="shift1_4" name="shift1_4" value="Name" readonly /></td>
        <td><input type="text" id="shift2_4" name="shift2_4" value="Name" readonly /></td>
        <td><input type="text" id="shift3_4" name="shift3_4" value="Name" readonly /></td>
      </tr>
      <tr>
        <td>Place 5</td>
        <td><input type="text" id="shift1_5" name="shift1_5" value="Name" readonly /></td>
        <td><input type="text" id="shift2_5" name="shift2_5" value="Name" readonly /></td>
        <td><input type="text" id="shift3_5" name="shift3_5" value="Name" readonly /></td>
      </tr>

      <!-- <tr>
          <td>Email:</td>
          <td>
            <input type="text" id="email" value="Email address" readonly />
          </td>
        </tr> -->
    </table>
    <input type="button" id="edit" onclick="editData()" value="Edit" />
    <input type="button" id="save" onclick="saveData()" value="Save" />
    <input type="submit" id="confirm" value="Confirm" />
  </form>
</div>

  <script>

    function editData() {
      var fields = document.querySelectorAll("table input[type='text']");
      for (var i = 0; i < fields.length; i++) {
        fields[i].readOnly = false;
      }
      document.getElementById("save").style.display = "inline-block";
      document.getElementById("confirm").style.display = "inline-block";
    }

    function saveData() {
      var data = {};
      data.shift1_1 = document.getElementById("shift1_1").value;
      data.shift2_1 = document.getElementById("shift2_1").value;
      data.shift3_1 = document.getElementById("shift3_1").value;

      data.shift1_2 = document.getElementById("shift1_2").value;
      data.shift2_2 = document.getElementById("shift2_2").value;
      data.shift3_2 = document.getElementById("shift3_2").value;

      data.shift1_3 = document.getElementById("shift1_3").value;
      data.shift2_3 = document.getElementById("shift2_3").value;
      data.shift3_3 = document.getElementById("shift3_3").value;

      data.shift1_4 = document.getElementById("shift3_3").value;
      data.shift2_4 = document.getElementById("shift3_3").value;
      data.shift3_4 = document.getElementById("shift3_3").value;

      data.shift1_5 = document.getElementById("shift3_3").value;
      data.shift2_5 = document.getElementById("shift3_3").value;
      data.shift3_5 = document.getElementById("shift3_3").value;

     

      // timeTable.shift1_1 = data.shift1_1;
      // timeTable.shift2_1 = data.shift2_1;
      // timeTable.shift3_1 = data.shift3_1;
      // timeTable.shift1_2 = data.shift1_2;
      // timeTable.shift2_2 = data.shift2_2;
      // timeTable.shift3_2 = data.shift3_2;
      // timeTable.shift1_3 = data.shift1_3;
      // timeTable.shift2_3 = data.shift2_3;
      // timeTable.shift3_3 = data.shift3_3;
      // timeTable.shift1_4 = data.shift1_4;
      // timeTable.shift2_4 = data.shift2_4;
      // timeTable.shift3_4 = data.shift3_4;
      // timeTable.shift1_5 = data.shift1_5;
      // timeTable.shift2_5 = data.shift2_5;
      // timeTable.shift3_5 = data.shift3_5;

      // window.localStorage.formData = JSON.stringify(data);
      document.getElementById("save").style.display = "none";
      var fields = document.querySelectorAll("table input[type='text']");
      for (var i = 0; i < fields.length; i++) {
        fields[i].readOnly = true;
      }
    }
  </script>

  </body>

  </html>

  <% include ./partial/footer %>