
<footer>

  <div
   style="width:100%;padding-left:40px;padding-top:50px;padding-bottom: 50px;text-align:center;bottom:0;
  background: rgb(63,251,204);
  background: radial-gradient(circle, rgba(63,251,204,1) 0%, rgba(130,70,252,1) 100%);
  ">
  
    <p style="margin-left:auto;letter-spacing: 1.6px;font-weight:bold;font-size:15px;">Emergency Contact: +91-9837192827  .................   Security Room Contact: +91-7829167289 .......................... Email: security@iiti.ac.in</p>
  
  
  </div>

</footer>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js">

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>


<script src="https://kit.fontawesome.com/bb2b450143.js"></script>
</body>
</html>
