
<!-- in this div we have to add contact details -->
<!-- <div id="contact" style="border: 1px solid black;">
  <div
    class="jumbotron"
    style="height: 1050px ;    background-image: url('http://safety.iiti.ac.in/images/demo/emergency2.png');    background-color: #008cbf;
    color: #ffffff;
    box-shadow: inset 50px 50px 100px #000000, inset -50px -50px 100px #000000;
    padding-top: 18em;
    

    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    
    justify-content: center;
    background-repeat: no-repeat;
    "
  >
    
  </div> -->
  <div  id="contact" styles ="padding:50px;margin-top:100px">
    <br>
  <!-- <img src="http://safety.iiti.ac.in/images/demo/emergency2.png" width="80%" height="500px"> -->
  <h3 style="color: brown;">Emergency Contact Numbers</h3>
  <p>Emergency Control Room : xxxxxxxxxx<br>
    Security Control Room : xxxxxxxxxx
  </p>
  </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js">

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>


<script src="https://kit.fontawesome.com/bb2b450143.js"></script>
</body>
</html>